<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066049679583-qjf5s9ubvc6feqs2uhflrbd81lft6unj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066049679583-qjf5s9ubvc6feqs2uhflrbd81lft6unj</string>
	<key>API_KEY</key>
	<string>AIzaSyBi6tEKW1pFnmQ2B4_9yt8Ym66iNa8kh0s</string>
	<key>GCM_SENDER_ID</key>
	<string>1066049679583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MahitTanikella.HomelessHelp</string>
	<key>PROJECT_ID</key>
	<string>homelesshelp-88216</string>
	<key>STORAGE_BUCKET</key>
	<string>homelesshelp-88216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066049679583:ios:32fa1212c99e760cfef96a</string>
	<key>DATABASE_URL</key>
	<string>https://homelesshelp-88216.firebaseio.com</string>
</dict>
</plist>